.weapon{
  display: inline-block;
  flex-direction:row;
  border: solid 1px;
  margin: 20px;
}

/* .Header{
  width: 100%;
  height: 100%;
} */

.App{
  display: flex;
  flex-direction: column;

}

.weaponSelect, .modelSelect, .modelAdd{
  width: 20vh;
  margin: auto;
}

