@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html{
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  padding: 25px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #2d3436, #2e3b3d, #2e4144, #2f484a, #2f4f4f);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  color: white;
}

.Container {
  display: flex;
  justify-content: space-around;
}

.selectType {
  height: 30px;
  margin-bottom: 25px;
  border: 1px black;
  border-radius: 5px;
  margin-left: 15%;
}

.costLevel {
  font-size: large;
}

.armyList {
  display: flex;
  flex-direction: column;
}

.armyList>div {
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 10px;
  color: #2d3436;
  text-align: end;
}

.logoType {
  width: 35px;
  height: 35px;
  padding-right: 15px;
  transform: translateY(10px);
}

@media (max-width: 730px) {
  .Container {
    flex-direction: column;
    align-items: center;
  }
  /* .costLevel::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: whitesmoke;
    transform: translateY(-15px);
  } */
  
}
.openCost{
background-color: rgb(143, 143, 143);
border: solid 1px black;
}
.triggerOpenCost{
  background-color:black ;
} 


.Collapsible {
  background-color:rgb(143, 143, 143) }

.Collapsible__contentInner {
  padding: 10px;
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  padding: 0px 20px 0px 20px;
  background: black;
  color: white; }
  .Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '^';
    position: absolute;
    right: 5px;
    top: 0px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg); }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }