body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Container{
  display:grid;
  grid-template-columns:700px 50px 50px 100px;
  grid-template-rows: auto;
}

.Sticky{
    text-align: right;
    grid-area: 1 / col4-start / last-line / 6;
}

.App{
  color:white;
}

.logoType{
  width: 35px;
  height: 35px;
}
